@import url(http://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: 'NanumSquare',sans-serif;
}

.header {
	background-image: url("../images/common/header.png");
	background-size: cover;
	background-position: center center;
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 508px;
	min-width: 1112px;
}

.navi{
	margin-top: 48px;
	width: 1041px;
	margin-right: auto;
	margin-left: auto;
}
.logo{
	float: left;
}

.menu{
	float: right;
}		

.menu a{
	display: inline-block;
	margin-right: 25px;
	margin-left: 25px;
	text-decoration: none;
	font-size: 16px;
	color: #5B5B5B;
}

.menu p{
	margin: 0;
	width: 0px;
	display: inline-block;
	color: #B7B7B7;
}

.title_box {
	text-align: center;
	margin-top: 110px;
	margin-bottom: 42px;
}
.title1 {
	text-align: center;
	font: 24px NanumSquareOTF;
	font-weight: 400;
	letter-spacing: 0;
	color: #525C66;
	opacity: 1;
	margin-bottom: 22px;
}
.title2 {
	font: 60px NanumSquareOTF;
	font-weight: 700;
	letter-spacing: 0;
	color: #292E33;
	opacity: 1;
}
.vegan_test {
	text-align: center;
	text-decoration: underline;
	font: 16px NanumSquareOTF;
	letter-spacing: 0;
	color: #77828C;
	opacity: 1;
	display: block;
	margin-bottom: 120px;
}

.chapter_1 {
	height: 1016px;
	padding-left: auto;
	padding-right: auto;
	text-align: center;
}

.chapter_1 h2{
	padding-top: 164px;
	font-size: 36px;
	color: #394959;
}

.chapter_1 img{
	padding-top: 45.04px;
}
.chapter_1 p{
	line-height: 48px;
	padding-top: 116.76px;
	font-size: 24px;
	color: #5B5B5B;
}

.chapter_2{
	background-color: #EDF1F4;
	min-width: 1112px;
	margin: 0px;
	padding: 64px;
}

.chapter_2 img{
	height: 909px;
	width: 881px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.chapter_3{
	padding-top: 120px;
	text-align: center;
	margin: 0;
	padding-bottom: 120px;
}

.chapter_3 p{
	color: #495057;
	font-size: 24px;
}

.chapter_3 img{
	margin-top: 29px;
}

.chapter_3 h1{
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	width: 0px;
	height: 152px;
	border: 1px solid #9a9a9a;
}

.chapter_3 h2{
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	margin-top: 80px;
	font-size: 28px;
	border-bottom: 4px solid #394959;
}

.chapter_3 h3{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	margin-top: 68px;
	font-size: 24px;
	color: #5B5B5B;
}

.chapter_3 h4{
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	color: #5B5B5B;
	font-weight: 400;
	line-height: 35px;
}

.chapter_3 h4 b{
	font-weight: 600;
}

.chapter_3 h5{
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
	color: #5B5B5B;
	font-weight: 400;
	line-height: 35px;
	margin-top: 68px;
}

.page {
	margin: 0 auto;
	padding: 0 16px;
	width: 1080px;
} 

.footer {
	padding: 67px 0;
	background-color: #e9ecef;
    min-width: 1112px;
}

.footer-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.footer-header-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.footer-header-title {
	font-family: 'NanumSquare', sans-serif;
	font-size: 19px;
	color: #394959;
	margin-bottom: 8.15px;
}

.footer-header-logo {
	display: inline-block;
	width: 217px;
	height: 40px;
	margin: 0;
	background-image: url('../images/common/logo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.footer-header-link {
	display: inline-block;
	width: 48px;
	height: 48px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.footer-header-link + .footer-header-link {
	margin-left: 12px;
}

.footer-header-link.spacer {
	margin-left: auto;
}

.footer-header-link.email {
}

.footer-header-link.instagram {
}

.footer-spacer {
	margin: 24px 0;
	border: 0;
	height: 1px;
	background-color: #adadad;
}

.footer-content {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
}

.footer-navigation-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.footer-navigation-list a{
	text-decoration: none;
}
.footer-navigation-list + .footer-navigation-list {
	margin-top: 10px;
}

.footer-navigation-list > .button {
	font-family: 'NanumSquare', sans-serif;
	font-size: 12px;
	color: #495057;
	transition: color 0.2s;
}

.footer-navigation-list > .button:hover {
	color: #292e33;
}

.footer-navigation-list > .spacer {
	margin: 0 15px;
	display: inline-block;
	width: 1px;
	height: 12px;
	background-color: #292e33;
	text-align: center;
}

.footer-copyright {
	margin-left: auto;
	font-family: 'NanumSquare', sans-serif;
	font-size: 12px;
	color: #495057;
}